.form__button {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    padding: 14px 0 10px;
    width: 100%;
    background-color: #000;
    margin: 19px 0 0px;
    border-radius: 2px;
    transition: opacity 0.5s;
  }
  
  .form__button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  @media screen and (max-width: 568px) {
    .form__button {
      font-size: 14px;
      line-height: 17px;
      margin: 44px 0 0px;
      padding: 14px 0 12px;
    }
  }