.profile {
  box-sizing: border-box;
  padding: 40px 0 51px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    gap: 36px;
  }
}
