.header {
  box-sizing: border-box;
  padding: 45px 0 36px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 568px) {
  .header {
    padding: 28px 0 26.6px 23px;
  }
}
