.profile__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 568px) {
  .profile__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 19px;
  }
}