.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  box-sizing: border-box;
  padding: 67px 0 60px;
}
