.popup__content {
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background-color: #fff;
  width: 430px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 568px) {
  .popup__content {
    max-width: 282px;
    padding: 25px 22px;
  }
}
