.form__input {
  padding: 0;
  box-sizing: border-box;
  min-height: 30px;
  margin: 3px 0 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 100%;
}

