.form__input {
  box-sizing: border-box;
  padding: 9px 0;
  margin: 21px 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 100%;
}

.form__input:invalid {
  border-bottom: 1px solid #FF0000; /* красная рамка для некорректных данных */
} 