.profile__btn-add {
  background-color: #000;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  padding: 0;
  background-image: url("../../../images/add.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 767px) {
  .profile__btn-add {
    width: 282px;
    height: 50px;
    background-size: 16px 16px;
  }
}
