.profile__btn-edit {
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  margin-left: 19px;
  background-image: url("../../../images/edit.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
}

.profile__btn-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .profile__btn-edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
