.page__wrapper {
  box-sizing: border-box;
  padding: 0 200px;
}

@media screen and (max-width: 1152px) {
  .page__wrapper {
    padding: 0 150px;
  }
}

@media screen and (max-width: 984px) {
  .page__wrapper {
    padding: 0 50px;
  }
}

@media screen and (max-width: 568px) {
  .page__wrapper {
    padding: 0px;
  }
}
