.element__button-like {
  border: none;
  width: 22px;
  height: 19px;
  background-image: url("../../../images/stroke.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.element__button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
