.form__error {
    display: block;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: 5px;
    min-height: 25px;
    visibility: hidden;
}